# Created by .ignore support plugin (hsz.mobi)
.idea/challenge-urban-forest.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
.idea/inspectionProfiles/
